.DS_Store
.atom/
.idea
.packages
.dart_tool/
.pub/
build/
ios/.generated/
packages
pubspec.lock
example/ios/Flutter/flutter_export_environment.sh
example/.flutter-plugins-dependencies
example/ios/Flutter/.last_build_id
